<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/contactus.css">
    

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

    <title>Document</title>
</head>

<body>

<header>
    <nav>
        <div class="logo">
            <a href="home"><img src="images/logo.png" alt="Your Logo"></a>

        </div>
        <ul class="nav-links">
            <li><a href="home">Home</a></li>
            <li><a href="#footer">About</a></li>
            <li><a href="gallery">gallery</a></li>
            <li><a href="table">Buy now</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </nav>


</header>

    <div class="container">
        <div class="photo">
            <img src="images/abbas.png" alt="Company Photo">
        </div>
        <div class="contact-form">
            <h2>Contact Us</h2>


            <form>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="message">Message:</label>
                <textarea id="message" name="message" required></textarea>

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

<footer id="footer">
    <div class="content">
        <div class="left box">
            <div class="upper">
                <div class="topic" id="6">About us</div>
                <p>website project about solar system in lebanon
                </p>
            </div>
            <div class="lower">
                <div class="topic" id="5">Contact us</div>
                <div class="phone">
                    <a href="#"><i class="fa fa-phone-volume"></i>+961 78908363</a>
                    <br><a href="#"><i class="fa fa-phone-volume"></i> +961 76957430</a>
                </div>
                <div class="email">
                    <a href="#"><i class="fas fa-envelope"></i>abbashamyeh2004@gmail.com</a>
                    <br> <a href="#"><i class="fas fa-envelope"></i>roy.gebrayel10@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="middle box">
            <div class="topic" id="7">Our Services</div>
            <div><a href="#">solar panels</a></div>
            <div><a href="#">battery </a></div>
            <div><a href="#">inverter</a></div>
            <div><a href="#">cabels</a></div>
            <div><a href="#">steels</a></div>
        </div>
        <div class="right box">
            <div class="topic">Subscribe us</div>
            <form>
                <input type="text" placeholder="Enter email address">
                <input type="submit" onclick="myFunction()" name="" value="Send">
                <div class="media-icons">
                    <a href="https://www.facebook.com/abbas.hamyeh.7" target="_blank"><i
                            class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/roy.gebrayel/" target="_blank"><i
                            class="fab fa-instagram"></i></a>
                    <a href="https://www.twitter.com/Roygebrayel" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://github.com/AntonineUniversityProjects/SolarPanels" target="_blank"><i
                            class="fab fa-github"></i></a>
                </div>
            </form>
        </div>
    </div>
    <div class="bottom">
        <p>Copyright © 2023 All rights reserved: Abbas & Roy</p>
    </div>
</footer>
</body>

</html>