<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/gallery.css">
    
    <title> Gallery </title>
</head> 
<body>

<section class="mainp">

    <div class="product"> <img src="../images/brandlogo.jpg" alt=""> <a href=""> Buy now </a> </div>

    <div class="product"> <img src="../images/cakelogo.jpg" alt=""> <a href=" "> Buy now </a> </div>

    <div class="product"> <img src="../images/picinelogo.jpg" alt=""> <a href=" "> Buy now </a> </div>

    <div class="product"> <img src="../images/tshipslogo.jpg " alt=""> <a href=" "> Buy now </a> </div>

    <div class="product"> <img src="../images/cocktail.jpg" alt=""> <a href=" "> Buy now </a> </div>
</section>

</body>
</html>