<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Gallery </title>
</head> 

<style>
    .product-cards {
        max-width: 960 px;
        padding: 20px;
        margin: 0 auto;
        background-color: red;
    }

    .product-card {
        display: inline-block;
        margin: 20px;
        padding-bottom: 20px;
        background-color: blue;
        width: 400px;
        border-radius: 5px;


    }
.product-card img {
    width: 100%;
    padding-bottom: 20px;
}


        
    </style>

<body>
   <section class="product-cards">

    <div class="product-card">
         <img src="#" alt="#"> 
         <button> <a href="#"> Buy it now</a></button>
    </div>

    <div class="product-card">
        <img src="../assets/images/logo.jpg" alt="#">
        <button> <a href="#"> Buy it now</a></button>
    </div>

    <div class="product-card">
        <img src="#" alt="#">
        <button> <a href="#"> Buy it now</a></button>
    </div>

   </section>
</body>
</html>