<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/gallery.css">
    
    <title> Gallery </title>
</head> 
<body>
    <header>
        <nav>
    <div class="logo">
        <a href="home"><img src="images/logo.png" alt="Your Logo"></a>

    </div>
    <ul class="nav-links">
        <li><a href="home">Home</a></li>
        <li><a href="#footer">About</a></li>
        <li><a href="gallery">gallery</a></li>
        <li><a href="table">Buy now</a></li>
        <li><a href="#footer">Contact</a></li>
    </ul>
</nav>


    </header>

<section class="mainp">

    <div class="product"> <img src="images/lg.png" alt=""> <a href=""> Buy now </a> </div>

    <div class="product"> <img src="images/longi.jpg" alt=""> <a href=" "> Buy now </a> </div>

    <div class="product"> <img src="images/inverter.jpeg" alt=""> <a href=" "> Buy now </a> </div>

    <div class="product"> <img src="images/battery.jpg"alt=""> <a href=" "> Buy now </a> </div>

    <div class="product"> <img src="images/crown.jpg" alt=""> <a href=" "> Buy now </a> </div>

    <div class="product"> <img src="images/carbon.webp" alt=""> <a href=" "> Buy now </a> </div>
</section>

</body>
</html>