<!DOCTYPE html>
<html lang="en">


<head>
	<title>solar panels</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
	<link rel="stylesheet" href="css/home.css">

	<script src="https://code.jquery.com/jquery-1.12.4.min.js"
		integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" />

	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />


</head>


<body>


	<nav>
		<div class="logo">
		<a href="home"><img src="images/logo.png" alt="Your Logo"></a>
			
		</div>
		<ul class="nav-links">
			<li><a href="home">Home</a></li>
			<li><a href="#footer">About</a></li>
			<li><a href="gallery">gallery</a></li>
			<li><a href="table">Buy now</a></li>
			<li><a href="#footer">Contact</a></li>
		</ul>
	</nav>

	<section class="home" id="home">
		<div class="container">
			<h1>Make Energy</h1>
			<p>power up your life with our limited solarpanels </p>

		</div>
	</section>

	<div class="img">
		<section class="wrapper">
			<div class="container">
				<div class="owl-carousel owl-theme">
					<div class="item">
						<div class="heading">
							
							<h3>Renewable Energy</h3>
						</div>
						<p> Solar panels harness energy from the sun, which is a renewable and virtually limitless source of power. As long as the
						sun continues to shine, we can generate electricity from solar energy. </p>
						
					</div>
					<div class="item">
						<div class="heading">
						
							<h3>Reduces Electricity Bills</h3>
						</div>
						<p> By installing solar panels, you can generate your own electricity, thereby reducing your reliance on the grid. This
						leads to significant savings on your electricity bills, especially in the long run.</p>
						
					</div>
					<div class="item">
						<div class="heading">
							
							<h3>Energy Independence</h3>
						</div>
						<p>Solar panels empower individuals and businesses to generate their own electricity, reducing dependence on external
						energy sources. This is particularly advantageous in remote areas where accessing the electrical grid may be challenging
						or expensive. </p>
						
					</div>
				</div>
			</div>
		</section>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
		<script>
			$('.owl-carousel').owlCarousel({
				loop: true,
				margin: 10,
				nav: true,
				dots: false,
				navText: ["<i class='far fa-long-arrow-alt-left'></i>", "<i class='far fa-long-arrow-alt-right'></i>"],
				responsive: {
					0: {
						items: 1
					},
					768: {
						items: 1
					},
					1000: {
						items: 1
					}
				}
			})
		</script>
		<section class="wrapper2">
			<div class="container">
				<div class="heading mtop">
					<h5>FACILITIES</h5>
					<h2>Giving entirely awesome </h2>
				</div>
				<div class="content grid mtop">
					<div class="box">
						<svg xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 640 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
							<path
								d="M122.2 0C91.7 0 65.5 21.5 59.5 51.4L8.3 307.4C.4 347 30.6 384 71 384H288v64H224c-17.7 0-32 14.3-32 32s14.3 32 32 32H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H352V384H569c40.4 0 70.7-36.9 62.8-76.6l-51.2-256C574.5 21.5 548.3 0 517.8 0H122.2zM260.9 64H379.1l10.4 104h-139L260.9 64zM202.3 168H101.4L122.2 64h90.4L202.3 168zM91.8 216H197.5L187.1 320H71L91.8 216zm153.9 0H394.3l10.4 104-169.4 0 10.4-104zm196.8 0H548.2L569 320h-116L442.5 216zm96-48H437.7L427.3 64h90.4l31.4-6.3L517.8 64l20.8 104z" />
						</svg>
						
						<h3>solar panels</h3>
						<p> our solar panels are in high quality to assure a good solar experience</p>
						<span class='far fa-long-arrow-alt-right'></span>
					</div>
					<div class="box">
						<svg xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
							<path
								d="M80 96c0-17.7 14.3-32 32-32h64c17.7 0 32 14.3 32 32l96 0c0-17.7 14.3-32 32-32h64c17.7 0 32 14.3 32 32h16c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64l16 0zm304 96c0-8.8-7.2-16-16-16s-16 7.2-16 16v32H320c-8.8 0-16 7.2-16 16s7.2 16 16 16h32v32c0 8.8 7.2 16 16 16s16-7.2 16-16V256h32c8.8 0 16-7.2 16-16s-7.2-16-16-16H384V192zM80 240c0 8.8 7.2 16 16 16h96c8.8 0 16-7.2 16-16s-7.2-16-16-16H96c-8.8 0-16 7.2-16 16z" />
						</svg>

						<h3>batteries</h3>
						<p> do you need a fast ultra battery ? check them out !! </p>
						<span class='far fa-long-arrow-alt-right'></span>
					</div>
					<div class="box">

						<svg xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 640 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
							<path
								d="M48 0C21.5 0 0 21.5 0 48V368c0 26.5 21.5 48 48 48H64c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H48zM416 160h50.7L544 237.3V256H416V160zM112 416a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm368-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
						</svg>

						<h3> delivery</h3>
						<p> we are ready for any delivery ! our driver is 24/7 ready </p>
						<span class='far fa-long-arrow-alt-right'></span>
					</div>
					<div class="box">

						<svg xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 512 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
							<path
								d="M258.6 0c-1.7 0-3.4 .1-5.1 .5C168 17 115.6 102.3 130.5 189.3c2.9 17 8.4 32.9 15.9 47.4L32 224H29.4C13.2 224 0 237.2 0 253.4c0 1.7 .1 3.4 .5 5.1C17 344 102.3 396.4 189.3 381.5c17-2.9 32.9-8.4 47.4-15.9L224 480v2.6c0 16.2 13.2 29.4 29.4 29.4c1.7 0 3.4-.1 5.1-.5C344 495 396.4 409.7 381.5 322.7c-2.9-17-8.4-32.9-15.9-47.4L480 288h2.6c16.2 0 29.4-13.2 29.4-29.4c0-1.7-.1-3.4-.5-5.1C495 168 409.7 115.6 322.7 130.5c-17 2.9-32.9 8.4-47.4 15.9L288 32V29.4C288 13.2 274.8 0 258.6 0zM256 224a32 32 0 1 1 0 64 32 32 0 1 1 0-64z" />
						</svg>

						<h3>turbines</h3>
						<p>hate the sun ? wind turbines are here ! check them out</p>
						<span class='far fa-long-arrow-alt-right'></span>
					</div>
				</div>
			</div>
		</section>

		
		<section class="customer top" id="testimonials">
			<div class="container">
				<div class="heading">
					<h5>TESTIMONIALS </h5>
					<h3>What customers say </h3>
				</div>
				<div class="owl-carousel owl-theme mtop">
					<div class="item">
						<div class="rate">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
						<h3>nice store</h3>
						<p> I recently purchased solar panels from this store,
							 and I couldn't be happier with the experience.
							  The staff was incredibly knowledgeable and helpful,
							   guiding me through the process of choosing the right panels
							    for my home and answering all of my questions along the way. 
								They were patient and never made me feel rushed or pressured to make a decision
						</p>
						<div class="admin flex">
							<div class="img">
								<img src="images/ahmad.jpg" alt=" the person talking">
							</div>
							<div class="text">
								<h3>ahmad mohsen</h3>
								<span>customer</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="rate">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
						<h3> installation </h3>
						<p> The installation process was seamless, and the team that came to my house was professional and efficient. They took care of everything,
							 from mounting the panels to connecting them to the electrical system, and they left my property clean and tidy.</p>
						<div class="admin flex">
							<div class="img">
								<img src="images/abbas.png" alt="the person talking">
							</div>
							<div class="text">
								<h3>Abbas Hamyeh</h3>
								<span> dealer</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="rate">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
						<h3>nice workshift</h3>
						<p>Since installing the solar panels, I've seen a significant reduction in my energy bills,
							 and I'm thrilled to be doing my part for the environment. Overall, 
							 I highly recommend this solar panel store to anyone looking to make the switch to clean energy.
							 They truly exceeded my expectations in every way.
						</p>
						<div class="admin flex">
							<div class="img">
								<img src="images/roy.jpg" alt="the person talking">
							</div>
							<div class="text">
								<h3>Roy Gebrayel</h3>
								<span>Manager</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<script>
			$('.owl-carousel').owlCarousel({
				loop: true,
				margin: 10,
				nav: false,
				dots: false,
				navText: ["<i class='far fa-long-arrow-alt-left'></i>", "<i class='far fa-long-arrow-alt-right'></i>"],
				responsive: {
					0: {
						items: 1
					},
					768: {
						items: 1
					},
					1000: {
						items: 1
					}
				}
			})
		</script>


		<script>
			$('.owl-carousel').owlCarousel({
				loop: true,
				margin: 0,
				nav: false,
				dots: false,
				autoplay: true,
				slideTransition: 'linear',
				autoplayTimeout: 4000,
				autoplaySpeed: 4000,
				autoplayHoverPause: true,
				responsive: {
					0: {
						items: 1
					},
					768: {
						items: 3
					},
					1000: {
						items: 5
					}
				}
			})
		</script>


		<section class="map top">

			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3313.538186913925!2d35.91451468530637!3d33.85001843580825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x87049d24c4b9b068!2zMzPCsDUxJzAwLjEiTiAzNcKwNTQnNDQuNCJF!5e0!3m2!1sar!2slb!4v1653479489910!5m2!1sar!2slb"
				width="600" height="450" style="border:0;" referrerpolicy="no-referrer-when-downgrade" width="600"
				height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
		</section>
		<footer id="footer">
			<div class="content">
				<div class="left box">
					<div class="upper">
						<div class="topic" id="6">About us</div>
						<p>website project about solar system in lebanon
						</p>
					</div>
					<div class="lower">
						<div class="topic" id="5">Contact us</div>
						<div class="phone">
							<a href="#"><i class="fa fa-phone-volume"></i>+961 78908363</a>
							<br><a href="#"><i class="fa fa-phone-volume"></i> +961 76957430</a>
						</div>
						<div class="email">
							<a href="#"><i class="fas fa-envelope"></i>abbashamyeh2004@gmail.com</a>
							<br> <a href="#"><i class="fas fa-envelope"></i>roy.gebrayel10@gmail.com</a>
						</div>
					</div>
				</div>
				<div class="middle box">
					<div class="topic" id="7">Our Services</div>
					<div><a href="#">solar panels</a></div>
					<div><a href="#">battery </a></div>
					<div><a href="#">inverter</a></div>
					<div><a href="#">cabels</a></div>
					<div><a href="#">steels</a></div>
				</div>
				<div class="right box">
					<div class="topic">Subscribe us</div>
					<form>
						<input type="text" placeholder="Enter email address">
						<input type="submit" onclick="myFunction()" name="" value="Send">
						<div class="media-icons">
							<a href="https://www.facebook.com/abbas.hamyeh.7" target="_blank"><i
									class="fab fa-facebook"></i></a>
							<a href="https://www.instagram.com/roy.gebrayel/" target="_blank"><i
									class="fab fa-instagram"></i></a>
							<a href="https://www.twitter.com/Roygebrayel" target="_blank"><i
									class="fab fa-twitter"></i></a>
							<a href="https://github.com/AntonineUniversityProjects/SolarPanels" target="_blank"><i
									class="fab fa-github"></i></a>
						</div>
					</form>
				</div>
			</div>
			<div class="bottom">
				<p>Copyright © 2023 All rights reserved: Abbas & Roy</p>
			</div>
		</footer>
</body>

</html>