<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
<title>Home</title>
<link rel="stylesheet" type="text/css" href="../assets/css/home.css">
<script src="/assets/js/homee.js"></script>
</head>
<body>


<div class="header-height"></div>


<section class="tabs_nav">
	<div class="container">
		<ul>
			<li><a href="#">HTML</a></li>
			<li><a href="#">CSS</a></li>
			<li><a href="#">JavaScript</a></li>
			<li><a href="#">Python</a></li>
			<li><a href="#">JAVA</a></li>
		</ul>
	</div>
</section>


</body>
</html>
