<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
<title>Home</title>
<link rel="stylesheet" type="text/css" href="css/home.css">
<script src="/assets/js/homee.js"></script>
</head>
<body>

<div class="header-height"></div>


<section class="tabs_nav">
	<div class="container">
		<ul>
			<li><a href="#">HTML</a></li>
			<li><a href="#">CSS</a></li>
			<li><a href="#">JavaScript</a></li>
			<li><a href="#">Python</a></li>
			<li><a href="#">JAVA</a></li>
		</ul>
	</div>
</section>

<section class="home" id="home">
	<div class="container">
		<h1>Make Memories</h1>
		<p>Discover the place where you have fun & enjoy a lot</p>
	
		</div>
	</div>
</section>
</section>


<!--  section about the services we provide -->



<div class="services">
	<h1>Services We Offer</h1>
	<div class="image">
		<a href="/HTML/DriverReg.html"><img class="image-sell" src="/photos/carRace.jpg" class="sell " alt="Sell cars">
			<div class="image-sell-overlay">
				<p class="image-desc">Register as a driver</p>
			</div>
		</a>
	</div>
	<div class="image">
		<a href="/HTML/ViewerReg.html"><img class="image-sell" src="/photos/imag.jpg" class="sell "
				alt="Buy accessories cars">
			<div class="image-sell-overlay">
				<p class="image-desc">Register as a viewer</p>
			</div>
		</a>
	</div>


</body>
</html>
