<!DOCTYPE html>
<html>

<head>
    <title>Table Page</title>
    <link rel="stylesheet" type="text/css" href="css/table.css">
    <link rel="stylesheet" href="css/home.css">
   
        <title>solar panels</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <link rel="stylesheet" href="css/home.css">
    
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" />
    
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
    
    
 
    
</head>

<body>
    <nav>
		<div class="logo">
		<a href="home"><img src="images/logo.png" alt="Your Logo"></a>
			
		</div>
		<ul class="nav-links">
			<li><a href="home">Home</a></li>
			<li><a href="#footer">About</a></li>
			<li><a href="table">Buy now</a></li>
			<li><a href="#footer">Contact</a></li>
		</ul>
	</nav>
    <div>
        <table></table>
        <table></table>
        <table></table>
        <table></table>
        <table></table>
        <table></table>
        <table></table>
        <table></table>
        <table></table>
        <table></table>
    </div>
    <div class="container">
        <table id="myTable">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="checkbox" name="product_name" id="test" value="solar panel"> solar panel<br>
                        <input type="checkbox" name="product_name" value="battery">battery<br>
                        <input type="checkbox" name="product_name" value="inverter"> inverter<br>
                    </td>
                    <td><input type="number" name="quantity" id="quantity"></td>
                    <td><button class="delete-row">Delete</button></td>
                </tr>
            </tbody>
        </table>
        <div class="button-wrapper">
            <button id="add-row">Add Row</button>
            <button onclick="showSelectedOptions()" id="show-price">Show Price</button>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/table.js"></script>
    <div>
        <table></table>
        <table></table>
        <table></table>
        <table></table>
        <table></table>
        <table></table>
        <table></table>
        <table></table>
        <table></table>
    </div>


<footer id="footer">
    <div class="content">
        <div class="left box">
            <div class="upper">
                <div class="topic" id="6">About us</div>
                <p>website project about solar system in lebanon
                </p>
            </div>
            <div class="lower">
                <div class="topic" id="5">Contact us</div>
                <div class="phone">
                    <a href="#"><i class="fa fa-phone-volume"></i>+961 78908363</a>
                    <br><a href="#"><i class="fa fa-phone-volume"></i> +961 76957430</a>
                </div>
                <div class="email">
                    <a href="#"><i class="fas fa-envelope"></i>abbashamyeh2004@gmail.com</a>
                    <br> <a href="#"><i class="fas fa-envelope"></i>roy.gebrayel10@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="middle box">
            <div class="topic" id="7">Our Services</div>
            <div><a href="#">solar panels</a></div>
            <div><a href="#">battery </a></div>
            <div><a href="#">inverter</a></div>
            <div><a href="#">cabels</a></div>
            <div><a href="#">steels</a></div>
        </div>
        <div class="right box">
            <div class="topic">Subscribe us</div>
            <form>
                <input type="text" placeholder="Enter email address">
                <input type="submit" onclick="myFunction()" name="" value="Send">
                <div class="media-icons">
                    <a href="https://www.facebook.com/abbas.hamyeh.7" target="_blank"><i
                            class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/roy.gebrayel/" target="_blank"><i
                            class="fab fa-instagram"></i></a>
                    <a href="https://www.twitter.com/Roygebrayel" target="_blank"><i
                            class="fab fa-twitter"></i></a>
                    <a href="https://github.com/AntonineUniversityProjects/SolarPanels" target="_blank"><i
                            class="fab fa-github"></i></a>
                </div>
            </form>
        </div>
    </div>
    <div class="bottom">
        <p>Copyright © 2023 All rights reserved: Abbas & Roy</p>
    </div>
</footer>
</html></body>

</html>