.container {
	margin: 20px auto;
	width: 80%;
	max-width: 800px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

th, td {
	padding: 10px;
	border: 1px solid #ccc;
	text-align: center;
}

th {
	background-color: #f2f2f2;
}

input[type="text"],input[type ="number"] {
	width: 100%;
	box-sizing: border-box;
	padding: 8px;
}

button {
	background-color: #4CAF50;
	color: #fff;
	padding: 8px 16px;
	border: none;
	cursor: pointer;

}
.button-wrapper {
	display: flex;
	justify-content: space-between;

  }
  

button:hover {
	background-color: #3e8e41;
}
